* {
    font-family: Arial, Helvetica, sans-serif
}
.header-container {
    display: flex;
    height: 100vh;

}
.navbar-container {
    position: absolute;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 90px;
}

.navbar img {
    height: 50px;
}

.header-container .right-side {
    background: url('./assets/images/header-right-side.png');
    background-size: cover;
    background-blend-mode: overlay;
}

.header-container .right-side .content-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 60px;
    margin-top: 40px;
    height: 100%;
}

.content-right h2 {
    background-color: white;
    font-size: 25px;
    font-weight: 600;
    color: black;
    padding: 5px;
    margin: 0;
}

.content-right h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.content-right p {
    color: white;
    line-height: 30px;
        word-spacing: 0.3em;
}

.content-right button {
    background-color: white;
    padding: 15px;
    border: none;
    font-weight: 700;
    margin-top: 10px;

}
.header-container .left-side {
    background: url('./assets/images/header-left-side.png');
    background-size: cover;
        background-blend-mode: overlay;
        animation: changeColor 5s infinite;
    }
    
    @keyframes changeColor {
        0% {
            background-color: rgb(237, 183, 237);
        }
    
        50% {
            background-color: rgb(255, 155, 172);
        }
    
        100% {
            background-color: #28eea7;
        }
}

.header-container .left-side .content-left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 60px;
    height: 100%;
    margin-top: 40px;
    }
    
    .content-left h2 {
        background-color: black;
        font-size: 25px;
        font-weight: 600;
        color: white;
        margin: 0;
        padding: 5px;
    }
    
    .content-left h1 {
        color: black;
        font-size: 35px;
        font-weight: bold;
    }
    
    .content-left p {
        color: black;
        line-height: 30px;
        word-spacing: 0.3em;
    }
    
    .content-left button {
        background-color: black;
        padding: 15px;
        border: none;
        font-weight: 700;
        margin-top: 10px;
        color: white;
}