* {
    font-family: Arial, Helvetica, sans-serif
}

.header-container {
    display: flex;
    height: 100vh;
    position: relative;

}

@media (max-width: 990px) {
    .header-container {
        flex-direction: column;
        height: fit-content;

    }

    .navbar-container {
        position: absolute;
        top: 0;
    }
}
.navbar-container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 90px;
    align-content: center;
}
.navbar svg {
    align-self: center;
    margin-right: 100px;
    cursor: pointer;
}

.header-container .right-side {
    background: url('./assets/images/header-right-side.png');
    background-color: rgba(27, 16, 16, 0.578);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
        justify-content: center;
        align-items: center;
            padding-top: 90px;
        }
        
        .right-side-container {
            height: fit-content;
        }
        
        .content-right {
            display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.content-right h2 {
    background-color: white;
    font-size: 25px;
    font-weight: 600;
    color: black;
    padding: 5px;
    margin: 0;
}

.content-right h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.content-right p {
    color: white;
    line-height: 30px;
        word-spacing: 0.3em;
}

.content-right button {
    background-color: white;
    padding: 15px;
    border: none;
    font-weight: 700;
    margin-top: 10px;

}
.header-container .left-side {
    background: url('./assets/images/header-left-side.png');
    background-size: cover;
        background-blend-mode: overlay;
        animation: changeColor 5s infinite;
        display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 90px;
}
.left-side-container {
    display: flex;
    align-items: center;
    height: fit-content;
}
    @keyframes changeColor {
        0% {
            background-color: rgb(237, 183, 237);
        }
    
        50% {
            background-color: rgb(255, 155, 172);
        }
    
        100% {
            background-color: #28eea7;
        }
}
.content-left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 60px;
    margin-top: 40px;
    margin-bottom: 30px;
    }
    
    .content-left h2 {
        background-color: black;
        font-size: 25px;
        font-weight: 600;
        color: white;
        margin: 0;
        padding: 5px;
    }
    
    .content-left h1 {
        color: black;
        font-size: 35px;
        font-weight: bold;
    }
    
    .content-left p {
        color: black;
        line-height: 30px;
        word-spacing: 0.3em;
    }
    
    .content-left button {
        background-color: black;
        padding: 15px;
        border: none;
        font-weight: 700;
        margin-top: 10px;
        color: white;
}
.hello-world {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top .color {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.top .color .black {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.top .color .gray {
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.top .color .se {
    background-color: #28eea7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.hello-world img {
    border: 10px solid #28eea7;
    border-radius: 20px;
    width: 1000px;
    }
    
        .milestones-container {
            display: flex;
            flex-direction: column;
            padding: 60px;
        }
    
        .milestones-content {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
    
        }
    
        .employement-success {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
        }
    
    
    
    
        .employement-success h1 {
            font-size: 140px;
            margin: 0;
        }
    
        .other-rate {
            flex: 1;
            display: flex;
            gap: 40px;
        }
    
    
        .other-rate h1 {
            font-size: 50px;
            font-weight: 600;
        }
    
        .other-rate p {
            font-size: 20px;
        }
    
        .programs {
            display: flex;
            flex-direction: column;
            padding: 70px;
    background-color: yellow;
    }
    
    .programs .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        }
        
        .programs .header .color {
            display: flex;
            gap: 10px;
            justify-content: center;
        
        }
        
        .header .color .white {
            background-color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        
        .header .color .gray {
            background-color: gray;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        
        .header .color .black {
            background-color: black;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        
        .programs-list {
            display: flex;
            justify-content: flex-start;
            gap: 60px;
                padding-left: 20px;
            }
                        .programs-list div {
                            width: 50px;
                            height: 30px;
                            text-align: center;
                            padding: 20px 20px 0 20px;
            
                        }
            
                        .programs-list div:first-child {
                            background-color: black;
                            color: white;
                padding: 0px;
                    height: 100%;
                    width: 50px;
                    height: 30px;
                    padding: 20px 20px 0 20px;
                
                }
                
                .program-content {
                    display: flex;
                    background-color: black;
                    border: 15px solid black;
                    border-radius: 20px;
                }
                
                .program-content .right-side {
                    flex: 1;
                    color: white;
                }
                
                
                .program-content img {
                    flex: 1;
                    height: 450px;
                    border-radius: 20px;
}