* {
    font-family: Noto Sans Mono, sans-serif;
    box-sizing: border-box;
}
.icon{
    color:#28eea7;
    font-weight: 900;
    font-size: 20px;
}

.header-container {
    display: flex;
    height: 100vh;
    position: relative;

}

@media (max-width: 990px) {
    .header-container {
        flex-direction: column;
        height: fit-content;

    }

    .navbar-container {
        position: absolute;
        top: 0;
    }
}
.navbar-container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 90px;
    align-content: center;
}
.navbar svg {
    align-self: center;
    margin-right: 100px;
    cursor: pointer;
}

.header-container .right-side {
    background: url('./assets/images/header-right-side.png');
    background-color: rgba(27, 16, 16, 0.578);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
        }
        
.right-side-container {
    height: fit-content;
}
        
.content-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.content-right h2 {
    background-color: #fcfcfd;
    font-size: 25px;
    font-weight: 600;
    color: #363738;
    padding: 5px;
    margin: 0;
}

.content-right h1 {
    color: #fcfcfd;
    font-size: 35px;
    font-weight: bold;
}

.content-right p {
    color: #fcfcfd;
    line-height: 30px;
        word-spacing: 0.3em;
}

.content-right button {
    background-color: #f1f2f3;
    padding: 15px;
    border: none;
    font-weight: 700;
    margin-top: 10px;

}
.header-container .left-side {
    background: url('./assets/images/header-left-side.png');
    background-size: cover;
    background-blend-mode: overlay;
    animation: changeColor 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}
.left-side-container {
    display: flex;
    align-items: center;
    height: fit-content;
}
@keyframes changeColor {
    0% {
        background-color: rgba(251, 80, 142, 0.93);
    }
    
    50% {
        background-color: rgba(40, 238, 167, 0.93);
    }
    
    100% {
        background-color: rgba(152, 100, 218, 0.93);
    }
}
.content-left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}
    
.content-left h2 {
    background-color: #363738;
    font-size: 25px;
    font-weight: 600;
    color: #fcfcfd;
    margin: 0;
    padding: 5px;
}
    
.content-left h1 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}
    
    .content-left p {
    color: rgb(255, 255, 255);
    line-height: 30px;
    word-spacing: 0.3em;
    }
    
.content-left button {
    background-color: rgba(35, 35, 35, .9);
    padding: 15px;
    border: none;
    font-weight: 700;
    margin-top: 10px;
    color: fcfcfd;
}


.hello-world {
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hello-world .top h1{
    display: flex;
    gap: 20px;
    align-items: center; 
}
.top .color {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.top .color .black {
    background-color: #363738;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.top .color .gray {
    background-color: #dcdee1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.top .color .se {
    background-color: #28eea7;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.hello-world img {
    border: 10px solid #28eea7;
    border-radius: 20px;
    width: 100%;
    }

@media (max-width:479px) {
    .hello-world .top h1{
    font-size: 20px; 
}
.hello-world{
    padding: 15px 20px;
}
    
}
    
.milestones-container {
    display: flex;
    flex-direction: column;
    padding: 60px;
}
.milestones-container h1{
    display: flex;
    align-items: center;
    gap: 20px;
}
    
.milestones-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    
}
    
.employement-success {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
} 

    
.employement-success h1 {
    color: #363738;
    font-size: 140px;
    margin: 0;
    font-weight: 900;
}
.employement-success div:first-child{
    display: flex;
    flex-direction: column;
    
}   
 .other-rate {
    color: #363738;
    flex: 1;
    display: flex;
    gap: 40px;
}   
.other-rate h1 {
    font-size: 30px;
    font-weight: 900;
}
    
.other-rate p {
    font-size: 20px;
}
@media (max-width: 479px){
    .milestones-container h1{
        font-size: 20px;
    }
    .milestones-container{
        padding: 0;

    }
.employement-success h1 {
font-size: 50px;
}
.employement-success{
    align-items: self-start;
}
.other-rate h1{
    font-size: 20px;
    font-weight: 600;

}
.other-rate p{
    font-size: 12px;
}
}
.programs {
    display: flex;
    flex-direction: column;
    padding: 50px 90px 70px 90px;
    background-color: rgb(255, 198, 53);
}

.programs .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.programs .header h1 {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color:#363738 ;
    color: #fcfcfd;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 40px;
}
        
.header .color {
    display: flex;
    gap: 10px;
     justify-content: center;
        
}
        
.header .color .white {
    background-color: #fcfcfd;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
        
.header .color .gray {
    background-color: #a5a6a9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
        
.header .color .black {
    background-color: #363738;
     width: 20px;
    height: 20px;
    border-radius: 50%;
}
        
.programs-list {
    display: flex;
    justify-content: flex-start;
}

.programs-list div {
    display: flex;
    text-align: center;
    padding: 20px 50px;
    border-radius: 10px 10px 0 0;
            
}
@media (max-width: 479px){
    .programs{
        padding: 15px 20px;
    }
    .programs-list div{
        padding: 15px 20px;
    }
}
            
.programs-list div:first-child {
    background-color: #363738;
    color: rgb(255, 198, 53);
                
}
                
.program-content {
    display: flex;
    background-color: #363738;
    border: 15px solid #363738;
    border-radius: 0px 20px 20px 20px;
    padding: 10px;
    gap: 50px;
    flex-wrap: wrap;
}
                
.program-content .right-side {
     flex: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    }
.right-side-text span{
    font-weight: 700;
    font-size: 25px;
}

.right-side-text p{
    line-height: 2;

 }
                    
.right-side-text span:first-child {
    color: rgb(255, 198, 53);
}
                
.program-content img {
    flex: 1;
    max-height: 400px;
    width: 100%;
    border-radius: 20px;
}

.right-side .button-info{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.right-side .button-info div{
    background-color: #232323;
    padding: 15px;
    flex:1;
}
.right-side .button-info div span {
    color: rgb(255, 198, 53);
    font-weight: 700;
}
.right-side .button-info button{
    flex:1;
    background-color: #232323;
    border: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 15px;
    font-weight: 700;
    color: #fcfcfd;
}
.hire-talent {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #363738;
    gap:20px;

}
.hire-talent .top h1{
color: #fcfcfd;
display: flex;
align-items: center;

gap:20px
}

.content-container{
    display: flex;
  color: #fcfcfd;
  justify-content: flex-start;
  background-color: #232323;
    flex-direction: column;
  padding: 50px;
    border-radius: 20px;


}
.content-container div:first-child{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.content-container div:nth-child(2){
    background-color: #363738;
    padding: 20px;
    width: fit-content;
    margin-bottom: 20px;
}
.content-container div:nth-child(2) span{
    color: #28eea7;
    font-weight: 700;
    word-spacing: 10px;
}
.content-container div:nth-child(3){
    padding: 10px
}
.content-container div:nth-child(3) p{
    margin: 5px;
}
.content-container div:nth-child(3) p:nth-child(5){
    margin: 15px 15px 15px 0px;
}
.content-container button{
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: rgba(54, 55, 56, .75);
    padding: 10px;
    font-size: 15px;
    color: #fcfcfd;
    font-weight: 600;

}
.hr-talent div{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #232323;
    color: #fcfcfd;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    border-radius: 20px;

}
@media (max-width: 479px){
    .hire-talent{
        padding: 15px;
    }
    .hire-talent .content-container{
        padding: 15px 20px;
    }
}
.testimonials{
    display: flex;
    flex-direction: column;
    padding: 0 70px 70px 70px;
    gap:20px;
}
.testimonials .top h1{
    display: flex;
align-items: center;
gap:20px
}
.testimonials-content{
    display: flex;
    justify-content: center;
    gap:20px;
    padding: 20px;
    background-color: #363738;
    border-radius: 20px;

}
.testimonials-content .right-side{
    display: flex;
    flex-direction: column;
    padding: 80px 40px 0 30px;
    gap: 30px;
    color: #fcfcfd;
}
.testimonials-content .right-side p{
    line-height: 30px;
}

.testimonials-content .right-side div:first-child img{
    height: 70px;
    width: 80px;
    
}

.testimonials-content .right-side .image-name{
    display: flex;
    align-items: center;
}



.testimonials-content .right-side .image-name img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.student-name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.student-name span{
    font-weight: 700;
}

.testimonials-content img:last-child{
    height: 400px;
    border-radius: 10px;
}

@media (max-width: 990px) {
    .testimonials-content img:last-child{
    width: 200px;
}
}
@media (max-width: 768px) {
    .testimonials-content{
        flex-direction: column;
    }
    .testimonials-content img:last-child{
        width: 100%;

}
.testimonials{
    padding: 0 40px 40px 40px;
    
}

}

@media (max-width: 482px) {
    .testimonials-content{
        flex-direction: column-reverse;
    }
    .testimonials-content img:last-child{
        width: 100%;
}
.testimonials{
    padding: 20px 15px;
    
}

}
.faqs {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #363738;
    color: #fcfcfd;
    padding: 70px;
}

.faqs .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.faqs .header h1 {
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 24px;
}
.header .color .se {
    background-color: #28eea7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.q-1{
    background-color: #232323;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;

}
.q-2{
    background-color: #232323;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;

}
.q-3{
    background-color: #232323;
    padding: 20px;
    margin: 20px 20px 70px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;

}
.faqs button{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    background-color: gray;
    color: white;
    font-weight: 500;
    border: none;
}
@media (max-width:479px) {
    .faqs{
        padding: 15px 20px;
    }
}
.contact-us{
    background-color: #28eea7;
    padding: 70px;
}
.contact-us .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contact-us .header h1{
    display: flex;
    align-items: center;
    gap:10px;
    background-color: #363738;
    padding: 5px;
    color: #fcfcfd;
}
.contact-us-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.maps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #363738;
    border-radius: 20px;
    padding: 20px;
    color: #a5a6a9;

}
.maps .section-1 p{
    font-weight: 700;
}
.maps .section-1{
    align-self: center;
}
.maps .section-1 img{
    width: 250px;
    border-radius: 10px
}
.maps .section-2{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 30px;
    word-spacing: 5px;
    font-size: 15px;

}
.maps .section-2 span:first-child{
    color: #fcfcfd;
    font-weight: 700;
}
.contact-form{
    display: flex;
    flex-direction: column;
    background-color: #363738;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}
.contact-form .top-contact-form{
    display: flex;
    flex-direction: column;
}
.contact-form .top-contact-form span:first-child{
    color: #a5a6a9;
    font-size: 15px;
    font-weight: 900;
}
.contact-form .top-contact-form span:nth-child(2){
    font-size: 25px;
    color: #28eea7;
    font-weight: 700;
}
.contact-form .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fcfcfd;
}
.customize{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}
.contact-form .info input{
    height: 40px;
    border: none;
}
.customize label{
    margin-bottom: 10px;
}

.first-last{
    display: flex; 
    gap: 10px;
}
.email-phone{
    display: flex;
    gap: 10px;
}
.check-course{
    display: flex;
    flex-direction: column;
}
.check-course div:first-child{
    margin-bottom: 10px;
}
.check-course .check-boxes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.check-course .check-boxes label{
    margin-right: 40px;
    color: #fcfcfd;
}
.display-none{
display: none;
}
.circle-checkbox{
    margin:7px ;
    width: 10px;
    height: 10px;
    border: 1px solid gray ;
    border-radius: 50%;
    cursor: pointer;
}
.inquiry .customize textarea{
    height: 100px;
}
.submit{
    display: flex;
    justify-content: flex-end;
}
.submit button{
    border: none;
    background-color: #28eea7;
    padding: 13px;
    font-size: 17px;
    font-weight: 700;
}
@media (max-width : 468px) {
    .first-last{
        flex-wrap: wrap;
    }
   
    .email-phone{
        flex-wrap: wrap;
        
    }
    .inquiry .customize textarea{
        width: 300px;
    }
.contact-us{
    padding: 20px 15px;
}
.contact-us .header h1{
    font-size: 20px;
}
}
.partner{
    padding: 70px;

}
.partner .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.partner-logo{
    display: flex;
    flex-wrap: wrap;
}
.partner-logo img{
    width: 180px;
    height: 100px;
    margin: 0 10px 10px 10px;
}
@media (max-width:479px) {
    .partner{
        padding: 15px;
    }
    .partner-logo img{
        width: 60px;
        height: 70px;
    }
    
}
.subscribe{
    padding: 50px 70px 50px 70px;
    background-color: #363738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-side-subscribe p:first-child{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: #fcfcfd;
}
.left-side-subscribe p:first-child span{
    color: #28eea7;
    font-weight: 900;
}
.left-side-subscribe p:nth-child(2){
    font-size: 15px;
    color:#a5a6a9
}
.right-side-subscribe{
    display:flex;
    align-items: center;
}
.right-side-subscribe input{
    height: 40px;
    border: none;
    margin: 0;
}
.right-side-subscribe button{
    height: 40px;
    border: none;
    margin: 0;
    background-color: black;
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 70px;
    color:#a5a6a9;
    background-color: #232323;
    flex-wrap: wrap;
}
.footer-left-side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:60px
}
.top-left-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}
footer span{
    font-size: 14px;
}
.se-name{
    color:#dcdee1 ;
    font-weight: 700;
    font-size: 16px;
}
.items{
    display: flex;
    gap: 40px;
}

.footer-right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.logo-square{
    width: 150px;
}
.social-media{
    display: flex;
    gap: 30px;
    
}
.social-media img{
    background-color: gray;
    border: 4px solid gray;
    border-radius: 10px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}
@media (max-width:479px) {
    footer{
        padding: 20px 15px;
    }
    .footer-right-side{
        justify-content: center;
        align-items: center;
    }
    
}



